<h1>New Track</h1>
<%= render 'shared/errors' %>
<%= render 'form',
           action: tracks_url,
           method: 'post',
           track: @track,
           albums: @albums,
           submit_text: 'Create track' %>
